#database (sqlite )

DATABASE_URL = sqlite:///./app.db

#cloudinary 
CLOUDINARY_CLOUD_NAME =your_cloudName
CLOUDINARY_API_KEY = your_api_key
CLOUDINARY_API_SECRET =your_api_secrete

#OpenAI
OPENAI_API_KEY = sk-xxx